.social img {
opacity: 0.6;
}
.social img:hover {
opacity: 1;
}
.social{
margin-top:50px;
}
.text{
	width:800px; background-color:#b2dbbd;
}
.mypic{
	width:500px;
	border:5 inset #6C9;
	margin-top: 30px;
}
.nav{
    border:0 solid #ccc;
    border-width:0 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}
